In [1]:
import pandas as pd

In [15]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')

In [37]:
df

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,7.936903e+05,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,6.979536e+05,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1.288743e+06,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,7.645862e+05,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,5.363077e+05,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
1066,TM65736,Oregon,M,Master,3.059550e+05,38644.0,78.0,1/1/00,Personal Auto,Four-Door Car,361.455219
1067,VJ51327,Cali,F,High School or Below,2.031500e+06,63209.0,102.0,1/2/00,Personal Auto,SUV,207.320041
1068,GS98873,Arizona,F,Bachelor,3.239125e+05,16061.0,88.0,1/0/00,Personal Auto,Four-Door Car,633.600000
1069,CW49887,California,F,Master,4.626801e+05,79487.0,114.0,1/0/00,Special Auto,SUV,547.200000
1070,MY31220,California,F,College,8.997040e+05,54230.0,112.0,1/0/00,Personal Auto,Two-Door Car,537.600000

In [5]:
df.shape

(4008, 11)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1071 entries, 0 to 1070
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1071 non-null   float64
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(4), object(7)
memory usage: 100.4+ KB

In [19]:

columns_to_count = [
    'Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
    'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
    'Policy Type', 'Vehicle Class', 'Total Claim Amount'
]

value_counts_dict = {}


for column in columns_to_count:
    value_counts_dict[column] = df[column].nunique()

for column, counts in value_counts_dict.items():
    print(f"\nValue counts for column '{column}':\n{counts}")

Value counts for column 'Customer':
1071

Value counts for column 'ST':
8

Value counts for column 'GENDER':
5

Value counts for column 'Education':
6

Value counts for column 'Customer Lifetime Value':
1027

Value counts for column 'Income':
774

Value counts for column 'Monthly Premium Auto':
132

Value counts for column 'Number of Open Complaints':
6

Value counts for column 'Policy Type':
3

Value counts for column 'Vehicle Class':
6

Value counts for column 'Total Claim Amount':
761

In [21]:
df['Customer Lifetime Value'] = df['Customer Lifetime Value'].str.replace('%', '')

In [22]:
df['Customer Lifetime Value'] = df['Customer Lifetime Value'].astype(float)

In [24]:

threshold = len(df.columns) - 5


df_filtered = df.dropna(thresh=threshold)

In [26]:
df = df.dropna(subset=['Customer'])

In [31]:
mean_customer_lifetime_value = df['Customer Lifetime Value'].mean()

In [32]:
df['Customer Lifetime Value'].fillna(mean_customer_lifetime_value, inplace=True)

/var/folders/5w/l2b_mycn1hjf2d6nrhbhwsf00000gn/T/ipykernel_13586/1600556073.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Customer Lifetime Value'].fillna(mean_customer_lifetime_value, inplace=True)

In [35]:

summary_numerical = df.describe()

print(summary_numerical)


mode_numerical = df.mode()


print(mode_numerical)

std_dev_numerical = df.std()
quartiles_numerical = df.quantile([0.25, 0.50, 0.75])

print(std_dev_numerical)
print(quartiles_numerical)

       Customer Lifetime Value        Income  Monthly Premium Auto  \
count             1.071000e+03   1071.000000           1071.000000
mean              7.936903e+05  39295.701214            193.234360
std               6.425757e+05  30469.427060           1601.190369
min               2.004351e+05      0.000000             61.000000
25%               4.048535e+05  14072.000000             68.000000
50%               5.887182e+05  36234.000000             83.000000
75%               8.945210e+05  64631.000000            109.500000
max               5.816655e+06  99960.000000          35354.000000

       Total Claim Amount
count         1071.000000
mean           404.986909
std            293.027260
min              0.382107
25%            202.157702
50%            354.729129
75%            532.800000
max           2893.239678
     Customer      ST GENDER Education  Customer Lifetime Value  Income  \
0     AA71604  Oregon      F  Bachelor                251459.20     0.0
1     AB13432     NaN    NaN       NaN                445811.34     NaN
2     AB60627     NaN    NaN       NaN                      NaN     NaN
3     AB72731     NaN    NaN       NaN                      NaN     NaN
4     AB96670     NaN    NaN       NaN                      NaN     NaN
...       ...     ...    ...       ...                      ...     ...
1066  ZX23819     NaN    NaN       NaN                      NaN     NaN
1067  ZX64745     NaN    NaN       NaN                      NaN     NaN
1068  ZX86243     NaN    NaN       NaN                      NaN     NaN
1069  ZZ91716     NaN    NaN       NaN                      NaN     NaN
1070  ZZ97035     NaN    NaN       NaN                      NaN     NaN

      Monthly Premium Auto Number of Open Complaints    Policy Type  \
0                     65.0                    1/0/00  Personal Auto
1                      NaN                       NaN            NaN
2                      NaN                       NaN            NaN
3                      NaN                       NaN            NaN
4                      NaN                       NaN            NaN
...                    ...                       ...            ...
1066                   NaN                       NaN            NaN
1067                   NaN                       NaN            NaN
1068                   NaN                       NaN            NaN
1069                   NaN                       NaN            NaN
1070                   NaN                       NaN            NaN

      Vehicle Class  Total Claim Amount
0     Four-Door Car               321.6
1               NaN                 NaN
2               NaN                 NaN
3               NaN                 NaN
4               NaN                 NaN
...             ...                 ...
1066            NaN                 NaN
1067            NaN                 NaN
1068            NaN                 NaN
1069            NaN                 NaN
1070            NaN                 NaN

[1071 rows x 11 columns]
Customer Lifetime Value    642575.704559
Income                      30469.427060
Monthly Premium Auto         1601.190369
Total Claim Amount            293.027260
dtype: float64
      Customer Lifetime Value   Income  Monthly Premium Auto  \
0.25               404853.460  14072.0                  68.0
0.50               588718.200  36234.0                  83.0
0.75               894520.995  64631.0                 109.5

      Total Claim Amount
0.25          202.157702
0.50          354.729129
0.75          532.800000

/var/folders/5w/l2b_mycn1hjf2d6nrhbhwsf00000gn/T/ipykernel_13586/4051132729.py:14: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  std_dev_numerical = df.std()
/var/folders/5w/l2b_mycn1hjf2d6nrhbhwsf00000gn/T/ipykernel_13586/4051132729.py:15: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  quartiles_numerical = df.quantile([0.25, 0.50, 0.75])

In [36]:

summary_categorical = df.describe(include='object')


print(summary_categorical)

mode_categorical = df.mode(numeric_only=False)


print(mode_categorical)


value_counts_categorical = {}
for column in df.select_dtypes(include='object').columns:
    value_counts_categorical[column] = df[column].value_counts()


for column, value_counts in value_counts_categorical.items():
    print(f"\nValue counts for column '{column}':\n{value_counts}")

       Customer      ST GENDER Education Number of Open Complaints  \
count      1071    1071    954      1071                      1071
unique     1071       8      5         6                         6
top     RB50392  Oregon      F  Bachelor                    1/0/00
freq          1     320    457       324                       830

          Policy Type  Vehicle Class
count            1071           1071
unique              3              6
top     Personal Auto  Four-Door Car
freq              780            576
     Customer      ST GENDER Education  Customer Lifetime Value  Income  \
0     AA71604  Oregon      F  Bachelor                251459.20     0.0
1     AB13432     NaN    NaN       NaN                445811.34     NaN
2     AB60627     NaN    NaN       NaN                      NaN     NaN
3     AB72731     NaN    NaN       NaN                      NaN     NaN
4     AB96670     NaN    NaN       NaN                      NaN     NaN
...       ...     ...    ...       ...                      ...     ...
1066  ZX23819     NaN    NaN       NaN                      NaN     NaN
1067  ZX64745     NaN    NaN       NaN                      NaN     NaN
1068  ZX86243     NaN    NaN       NaN                      NaN     NaN
1069  ZZ91716     NaN    NaN       NaN                      NaN     NaN
1070  ZZ97035     NaN    NaN       NaN                      NaN     NaN

      Monthly Premium Auto Number of Open Complaints    Policy Type  \
0                     65.0                    1/0/00  Personal Auto
1                      NaN                       NaN            NaN
2                      NaN                       NaN            NaN
3                      NaN                       NaN            NaN
4                      NaN                       NaN            NaN
...                    ...                       ...            ...
1066                   NaN                       NaN            NaN
1067                   NaN                       NaN            NaN
1068                   NaN                       NaN            NaN
1069                   NaN                       NaN            NaN
1070                   NaN                       NaN            NaN

      Vehicle Class  Total Claim Amount
0     Four-Door Car               321.6
1               NaN                 NaN
2               NaN                 NaN
3               NaN                 NaN
4               NaN                 NaN
...             ...                 ...
1066            NaN                 NaN
1067            NaN                 NaN
1068            NaN                 NaN
1069            NaN                 NaN
1070            NaN                 NaN

[1071 rows x 11 columns]

Value counts for column 'Customer':
RB50392    1
HJ15383    1
AO74776    1
HQ82233    1
OL72737    1
          ..
RO26085    1
ES57969    1
JK55587    1
RN97635    1
MY31220    1
Name: Customer, Length: 1071, dtype: int64

Value counts for column 'ST':
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: ST, dtype: int64

Value counts for column 'GENDER':
F         457
M         413
Male       39
female     28
Femal      17
Name: GENDER, dtype: int64

Value counts for column 'Education':
Bachelor                324
College                 313
High School or Below    296
Master                   94
Doctor                   37
Bachelors                 7
Name: Education, dtype: int64

Value counts for column 'Number of Open Complaints':
1/0/00    830
1/1/00    138
1/2/00     50
1/3/00     34
1/4/00     13
1/5/00      6
Name: Number of Open Complaints, dtype: int64

Value counts for column 'Policy Type':
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: Policy Type, dtype: int64

Value counts for column 'Vehicle Class':
Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: Vehicle Class, dtype: int64

In [49]:

customer_locations_series = df['ST'].value_counts()

top_5_less_common = customer_locations_series.nsmallest(5)

print(top_5_less_common)

Nevada         98
Washington    111
Arizona       211
Oregon        320
California    331
Name: ST, dtype: int64

In [40]:
df['ST'].replace('WA', 'Washington', inplace=True)

/var/folders/5w/l2b_mycn1hjf2d6nrhbhwsf00000gn/T/ipykernel_13586/1400885739.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ST'].replace('WA', 'Washington', inplace=True)

In [42]:
df['ST'].replace('AZ', 'Arizona', inplace=True)

/var/folders/5w/l2b_mycn1hjf2d6nrhbhwsf00000gn/T/ipykernel_13586/3863480222.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ST'].replace('AZ', 'Arizona', inplace=True)

In [48]:
df['ST'].replace('CAlifornia', 'California', inplace=True)

/var/folders/5w/l2b_mycn1hjf2d6nrhbhwsf00000gn/T/ipykernel_13586/2558927367.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ST'].replace('CAlifornia', 'California', inplace=True)

In [50]:

claim_amount_stats = df['Total Claim Amount'].describe()
print(claim_amount_stats)

count    1071.000000
mean      404.986909
std       293.027260
min         0.382107
25%       202.157702
50%       354.729129
75%       532.800000
max      2893.239678
Name: Total Claim Amount, dtype: float64

In [51]:
threshold = df['Total Claim Amount'].quantile(0.75)
print("75th percentile:", threshold)

75th percentile: 532.8

In [52]:
high_claim_amount_customers = df[df['Total Claim Amount'] > threshold]

# Display the DataFrame
print(high_claim_amount_customers)

     Customer          ST GENDER Education  Customer Lifetime Value   Income  \
1     QZ44356     Arizona      F  Bachelor                697953.59      0.0
2     AI49188      Nevada      F  Bachelor               1288743.17  48767.0
17    OE15005  California    NaN   College                394524.16  28855.0
23    TZ98966      Nevada    NaN  Bachelor                245019.10      0.0
26    US89481  California    NaN  Bachelor                394637.21      0.0
...       ...         ...    ...       ...                      ...      ...
1059  YG44474      Oregon      M   College               1401472.13  54193.0
1061  RY92647  California      F  Bachelor               1050677.17      0.0
1068  GS98873     Arizona      F  Bachelor                323912.47  16061.0
1069  CW49887  California      F    Master                462680.11  79487.0
1070  MY31220  California      F   College                899704.02  54230.0

      Monthly Premium Auto Number of Open Complaints     Policy Type  \
1                     94.0                    1/0/00   Personal Auto
2                    108.0                    1/0/00   Personal Auto
17                   101.0                    1/0/00   Personal Auto
23                    73.0                    1/3/00  Corporate Auto
26                   111.0                    1/0/00   Personal Auto
...                    ...                       ...             ...
1059                 117.0                    1/0/00  Corporate Auto
1061                  92.0                    1/0/00   Personal Auto
1068                  88.0                    1/0/00   Personal Auto
1069                 114.0                    1/0/00    Special Auto
1070                 112.0                    1/0/00   Personal Auto

      Vehicle Class  Total Claim Amount
1     Four-Door Car         1131.464935
2      Two-Door Car          566.472247
17              SUV          647.442031
23    Four-Door Car          554.376763
26    Four-Door Car          799.200000
...             ...                 ...
1059            SUV          720.752945
1061  Four-Door Car          546.524896
1068  Four-Door Car          633.600000
1069            SUV          547.200000
1070   Two-Door Car          537.600000

[264 rows x 11 columns]

In [53]:
policy_counts_series = df['Policy Type'].value_counts()


print(policy_counts_series)

policy_with_highest_sales = policy_counts_series.idxmax()

print("Policy with the highest number of policies sold:", policy_with_highest_sales)

Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: Policy Type, dtype: int64
Policy with the highest number of policies sold: Personal Auto

In [56]:
personal_auto_df = df.loc[df['Policy Type'] == 'Personal Auto']

corporate_auto_df = df.loc[df['Policy Type'] == 'Corporate Auto']

average_income_personal_auto = personal_auto_df['Income'].mean()

average_income_corporate_auto = corporate_auto_df['Income'].mean()

print("Average income for Personal Auto policies:", average_income_personal_auto)
print("Average income for Corporate Auto policies:", average_income_corporate_auto)

Average income for Personal Auto policies: 38180.69871794872
Average income for Corporate Auto policies: 41390.31196581197